.volume-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 15px;
}
input[type="range"] {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--Accent);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--Accent);
    cursor: pointer;
  }
}
.volume-value, label {
  color: var(--Accent);
  font-family: var(--TitleFont);
  font-size: 200%;
  text-align: center;
  margin-top: 5px;
}