<app-back-button [sub-menu]="'title'"></app-back-button>
<h1>Credits</h1>
<div class="credits-pill-container">
  <div class="credits-pill">
    <h2><u>Main Developers</u></h2>
    <a href="https://github.com/amir-afkhami" target="_blank" class="credit-link">
      <p>Amir Afkhami</p>
    </a>
    <a href="https://github.com/bakedpotato101" target="_blank" class="credit-link">
      <p>Jackson Baker</p>
    </a>
  </div>
  <div class="credits-pill">
    <h2><u>Artwork</u></h2>
    <a href="https://github.com/amir-afkhami" target="_blank" class="credit-link">
      <p>Amir Afkhami</p>
    </a>
  </div>
  <div class="credits-pill">
    <h2><u>Music</u></h2>
    <a href="#" target="_blank" class="credit-link">
      <p>Jacob Smith</p>
    </a>
  </div>
</div>
